# Dependencias
node_modules/
*/node_modules/

# Variables de entorno
.env
.env.local
.env.production
.env.production.local
*/.env
*/.env.local

# Builds
dist/
dist-ssr/
*/dist/
*/dist-ssr/
build/
*/build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/